body{
  background: url("earth.jpg") no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;

 margin: 0;
}


p{
  font-family: serif;
}
/*Navigation Bar Styling*/
.topnav {
  overflow: hidden;
  background-color: #000000;
}

/*Style topnav links*/
.topnav a{
  float: center;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover*/
.topnav a:hover {
  background-color: #DAA520;
  color: #black;
}

/* Contains contents within a restricted space */
.article{
  background-color: white;
  float:center;
    width: 300px;

    padding: 150px;
    margin: 100px;
  }

/*Creates a fade in animation */
.fadein{
  animation-name: fadeIn;
      animation-iteration-count: 1;
      animation-timing-function: ease-in-out;
      animation-duration: 2s;
      animation-fill-mode:forwards;
}

@keyframes fadeIn {
    0% {opacity: -1;}
    100% {opacity: 1;}
}
